@media only screen and (max-width: 367px) {
	.frames { width: 100%; }
	.frame-wrap {width: 100%; }
	.optica { width: 100%; }
}

@media only screen and (min-width: 368px) and (max-width: 767px) {
	.frame-wrap { width: 50%; float: left; }
}

@media only screen and (max-width: 767px) {
	.frames { width: 100%; }
	.optica { width: 100%; }
	.cart-wrap { }
	.has-selected-frame > .frame-wrap { display:none; }
	.has-selected-frame > .frame-selected { width: 100%; display: block; }
}

@media only screen and (min-width: 768px) {
	.main {padding: 1em; } 
	.frames { width: 42%; padding-right: 2em;  }
	.optica { width: 42%; padding: 1em; }
	.cart-wrap { float: left; width: 16%; }
}

@media only screen and (min-width: 992px) {
	.main {padding: 1em; } 
	.frames { width: 32%; padding-right: 1em;  }
	.optica { width: 47%; padding: 1em;  }
	.cart-wrap { width: 21%; float: left;  padding: 0;}
	.cart { font-size: .9em; min-width: 212px; }
	.cart ul { padding-left: 20px; }
}

@media only screen and (min-width: 1200px) {
	.lensmaterial-block{ width: 100%; }
	.lensmaterial-block .lens-section-title { margin-bottom: 1em; }
	.lensmaterial-col{ width: 20%; height: 100%; padding: .2em; }
	.lensmaterial-col > div { margin-bottom: 0; display: block; width: 100%; min-height: 4em;float: none;}
	.lensmaterial-col > div > span { width: 100%; font-size: .9em;}
	.lensmaterial-col > img { width: 100%; max-width: 110px; height: auto; }

	.lenstype-block{ width: 100%; }
	.lenstype-block .lens-section-title { margin-bottom: 1em; }
	.lenstype-col{ width: 33.3333333%; height: 100%; padding: .2em; }
	.lenstype-col > div { margin-top: 2em; display: block; width: 50%; min-height: 4em;float: left;}
	.lenstype-col > div > span { width: 100%; font-size: .9em;}
	.lenstype-col > img { width: 50%; max-width: 110px; height: auto; }

	.frame-wrap { width: 50%; float: left;}
}